 <body>
   <!-- TOP BAR -->
   <header data-ng-controller="headerCtrl as headerVM">
     <!--MENU OF NAVEGATION-->
     <nav>
       <ul>
         <li class="logoname">
           <img class="logo" src="../images/myfavicon.png" alt="">
           <h1 class="name">RedNotes</h1>
         </li>
         <li id="actualSelected">
           <h2><a href="#!/">Notes</a></h2>
         </li>
         <li>
           <h2><a href="#!/reminders">Reminders</a></h2>
         </li>
         <li>
             <h2><a href="#!/friends">Friends</a></h2>
         </li>
         <li>
             <h2><a href="#!/petitions">Petitions</a></h2>
         </li>
       </ul>
     </nav>
     <!-- MENU OF PERFIL SETTINGS -->
     <ul id="navPerfil">
       <li><a href="#!/perfil"><img class="userico" data-ng-src="{{headerVM.user.image}}" alt=""><span> {{headerVM.user.username}} </span></a>
         <ul>
           <li><a href="#!/perfil">View Perfil</a></li>
           <li><a href="#!/editperfil">EditPerfil</a></li>
           <li><a href="../LoginServlet?disconnect=true">Log out</a></li>
         </ul>
       </li>
     </ul>
	  <!-- SEARCH BAR -->
	  <div class="searchbarDiv">
	    <form data-ng-submit="headerVM.functions.searchNotes()">
	      <input id="searchbar" name="search" type="search" placeholder="Search notes..." data-ng-model="headerVM.search">
	      <button>Search</button>
	    </form>
	  </div>
   </header>


   <!-- BODY CONTENT-->
   <div id="body" >
     <div id="tableRow">
       <!-- NOTES LIST-->
       <div id="LeftColumn">
         <h3>List of Archived Notes</h3>
         <ul>
         	<li data-ng-repeat="note in notesVM.archivednotes | filterNotes | orderBy:notesVM.orderby" class="{{note.color}}-archived "><div class="linksArchived">
             <a data-ng-href="#!/friends/{{note.ownerID}}"><img class="userico" title="{{note.owner}}" data-ng-src="{{note.imageOwner}}" alt=""></a>
             <a class="noteLink" data-ng-href="{{notesVM.link}}" data-ng-click="notesVM.functions.noteTypeLink(note.id,note.type)">
             <h4>{{note.title}}</h4></a>
             </div>
		  <a href="#!/share/{{note.id}}">
                 <img title="Share Note" src="../images/share-icon.png" alt="Button for share a note">
               </a>
             <ul class="optionsMenu">
               <li><img src="../images/optionsNotes.png" alt="">
                 <ul>
                 	<li><a data-ng-href="#!/friends/{{note.ownerID}}">Property of: {{note.owner}}</a></li>
                   	<li><a data-ng-href="" data-ng-click="notesVM.functions.unarchiveNote(note)">Unarchive Note</a></li>
                   <li><a data-ng-href="#!/editnote/{{note.id}}">Edit Note</a></li>
                   <li><a data-ng-href="#!/deletenote/{{note.id}}">Delete Note</a></li>
                 </ul>
               </li>
             </ul>
           </li>
         </ul>
       </div>
       <!-- NOTES -->
       <div id="CenterColumn">
         <h3> Notes </h3>
         	<!--<c:forEach var="message" items="${messages}">
         		<p>${message}</p>
         	</c:forEach>-->
           <div data-ng-repeat="note in notesVM.anchorednotes | filterNotes | orderBy:notesVM.orderby" class="note {{note.color}}">
             <a data-ng-href="{{notesVM.link}}" data-ng-click="notesVM.functions.noteTypeLink(note.id,note.type)">
               <h4>
                <img src="../images/fij-ico.png" alt="">
                <img data-ng-if="note.type==1" src="../images/list-ico.png">
                 {{note.title}} </h4>
               <p>
               	<span data-ng-if="note.type==0">{{note.content}}</span>
               	<span data-ng-if="note.type==1">(Enter to see the contents of the list)</span>
               </p>
             </a>
             <a data-ng-href="#!/share/{{note.id}}">
                  <img title="Share Note" src="../images/share-icon.png" alt="Button for share a note">
                </a>
             <ul class="optionsMenu">
               <li><img src="../images/optionsNotes.png" alt="">
                 <ul>
                 	<li><a data-ng-href="#!/friends/{{note.ownerID}}">Property of: {{note.owner}}</a></li>
                   	<li><a data-ng-href="" data-ng-click="notesVM.functions.archiveNote(note)">Archive Note</a></li>
                   	<li><a data-ng-href="" data-ng-click="notesVM.functions.unpinnedNote(note)">Unpinned Note</a></li>
                   <li><a data-ng-href="#!/editnote/{{note.id}}">Edit Note</a></li>
                   <li><a data-ng-href="#!/deletenote/{{note.id}}">Delete Note</a></li>
                 </ul>
               </li>
             </ul>
           </div>

           <div data-ng-repeat="note in notesVM.notanchorednotes | filterNotes | orderBy:notesVM.orderby" class="note {{note.color}}">
             <a data-ng-href="{{notesVM.link}}" data-ng-click="notesVM.functions.noteTypeLink(note.id,note.type)">
               <h4>
                <img data-ng-if="note.type==1" src="../images/list-ico.png">
                 {{note.title}} </h4>
               <p>
               	<span data-ng-if="note.type==0">{{note.content}}</span>
               	<span data-ng-if="note.type==1">(Enter to see the contents of the list)</span>
               </p>
             </a>
             <a data-ng-href="#!/share/{{note.id}}">
                  <img title="Share Note" src="../images/share-icon.png" alt="Button for share a note">
                </a>
             <ul class="optionsMenu">
               <li><img src="../images/optionsNotes.png" alt="">
                 <ul>
                 	<li><a data-ng-href="#!/friends/{{note.ownerID}}">Property of: {{note.owner}}</a></li>
                   	<li><a data-ng-href="" data-ng-click="notesVM.functions.archiveNote(note)">Archive Note</a></li>
                   	<li><a data-ng-href="" data-ng-click="notesVM.functions.pinnedNote(note)">Pinned Note</a></li>
                   <li><a data-ng-href="#!/editnote/{{note.id}}">Edit Note</a></li>
                   <li><a data-ng-href="#!/deletenote/{{note.id}}">Delete Note</a></li>
                 </ul>
               </li>
             </ul>
           </div>

       </div>
       <!-- OPTIONS -->
       <div id="RightColumn">
         <div class="box" data-ng-show="(notesVM.anchorednotes.length + notesVM.notanchorednotes.length + notesVM.archivednotes.length)>0">
           <form>	
           	<p>Order notes by: </p>
              <input type="radio" name="orderby" value="creationDate" data-ng-model="notesVM.orderby" data-ng-click="notesVM.functions.saveFilters()">Creation date <br>
              <input type="radio" name="orderby" value="modificationDate"data-ng-model="notesVM.orderby" data-ng-click="notesVM.functions.saveFilters()">Modification date <br>
              <input type="radio" name="orderby" value="title"data-ng-model="notesVM.orderby" data-ng-click="notesVM.functions.saveFilters()">Name <br>
            <p>Show</p>
              <input type="radio" name="show1" value="notesandlists" data-ng-model="notesVM.show1" data-ng-click="notesVM.functions.saveFilters()">Notes and lists<br>
              <input type="radio" name="show1" value="notes" data-ng-model="notesVM.show1" data-ng-click="notesVM.functions.saveFilters()">Only notes<br>
              <input type="radio" name="show1" value="lists" data-ng-model="notesVM.show1" data-ng-click="notesVM.functions.saveFilters()">Only Lists<br>
              <br>
              <input type="radio" name="show2" value="all" data-ng-model="notesVM.show2" data-ng-click="notesVM.functions.saveFilters()">All notes<br>
              <input type="radio" name="show2" value="my" data-ng-model="notesVM.show2" data-ng-click="notesVM.functions.saveFilters()">My notes<br>
              <input type="radio" name="show2" value="friends" data-ng-model="notesVM.show2" data-ng-click="notesVM.functions.saveFilters()">Friends notes<br>
              <br>
              <input type="radio" name="colorfilter" value="allcolors" data-ng-model="notesVM.colorfilter" data-ng-click="notesVM.functions.saveFilters()">All colors<br>
              <input type="radio" name="colorfilter" value="yellow" data-ng-model="notesVM.colorfilter" data-ng-click="notesVM.functions.saveFilters()">Yellow<br>
              <input type="radio" name="colorfilter" value="blue" data-ng-model="notesVM.colorfilter" data-ng-click="notesVM.functions.saveFilters()">Blue<br>
              <input type="radio" name="colorfilter" value="green" data-ng-model="notesVM.colorfilter" data-ng-click="notesVM.functions.saveFilters()">Green<br>
              <input type="radio" name="colorfilter" value="red" data-ng-model="notesVM.colorfilter" data-ng-click="notesVM.functions.saveFilters()">Red<br>
              <input type="radio" name="colorfilter" value="orange" data-ng-model="notesVM.colorfilter" data-ng-click="notesVM.functions.saveFilters()">Orange<br>
              <br>
           </form>
         </div>
         <a href="#!/addnote">
           <div class="box" id="addNote"> <img src="../images/add.svg" alt="">
             <p>Add Note</p>
           </div>
         </a>
         <a href="#!/addlist">
           <div class="box" id="addList"> <img src="../images/add.svg" alt="">
             <p>Add List</p>
           </div>
         </a>
       </div>
     </div>
   </div>
   <!--  LOWER BAR -->
<!--    <footer>
      <p><a href="Information.html">Information about us</a></p>
    </footer> -->
 </body>

