 <body>

    <!-- TOP BAR -->
    <header data-ng-controller="headerCtrl as headerVM">
     <!--MENU OF NAVEGATION-->
     <nav>
       <ul>
         <li class="logoname">
           <img class="logo" src="../images/myfavicon.png" alt="">
           <h1 class="name">RedNotes</h1>
         </li>
         <li>
           <h2><a href="#!/">Notes</a></h2>
         </li>
         <li>
           <h2><a href="#!/reminders">Reminders</a></h2>
         </li>
         <li>
             <h2><a href="#!/friends">Friends</a></h2>
         </li>
         <li>
             <h2><a href="#!/petitions">Petitions</a></h2>
         </li>
       </ul>
     </nav>
     <!-- MENU OF PERFIL SETTINGS -->
     <ul id="navPerfil">
       <li><a href="#!/perfil"><img class="userico" data-ng-src="{{headerVM.user.image}}" alt=""><span> {{headerVM.user.username}} </span></a>
         <ul>
           <li><a href="#!/perfil">View Perfil</a></li>
           <li><a href="#!/editperfil">EditPerfil</a></li>
           <li><a href="../LoginServlet?disconnect=true">Log out</a></li>
         </ul>
       </li>
     </ul>
     <!-- SEARCH BAR -->
     <div class="searchbarDiv">
       <form data-ng-submit="notesVM.functions.searchNotes()">
         <input id="searchbar" name="search" type="search" placeholder="Search notes..." data-ng-model="notesVM.search">
         <button>Search</button>
       </form>
     </div>
   </header>


    <!-- BODY CONTENT-->
		<div id="body" >
      <a href="#!/perfil">
        <button type="submit">
            <img class="goBack" src="../images/goback-icon.jpg" alt="Button for go back to perfil">
            <span> Go Back (Cancel)</span>
          </button>
      </a>
			<h3>Select your new image: </h3>

      <form data-ng-submit="perfilVM.functions.editPerfil()" id="ImageTable">
	      	<button data-ng-repeat="image in perfilVM.images" name="image" data-ng-click="perfilVM.userlogin.image = image" ><img data-ng-src="{{image}}" alt="" data-ng-attr-id="{{perfilVM.userlogin.image==image && 'ImageSelected'}}"></button>
	  </form>




		</div>
  </body>
</html>
